html {
    background-color: #333333;
    color: #ffffff;
    font-family: Lucida Console, Courier New, monospace;
    font-size: 1em;
}

h1 {
    font-size: 1em;
}

h2 {
    font-size: 1em;
}

a:link {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: #6c9eab;
}

a:active {
    color: #6c9eab;
}

ul {
    list-style-type: square;
}

.indent-2em {
    padding-left: 2em;
}

.blue {
    color: #6c9eab;
}

.purple {
    color: #a172ab;
}

.pink {
    color: #c2699b
}

.green {
    color: #78b089;
}

.red {
    color: #c75a66;
}

.lightbox-thumbnail {
    width: 20em;
}