body {
    background-color: #333333;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: #6c9eab;
}

a:active {
    color: #6c9eab;
}
