#everything {
    background-color: #333333;
    color: #ffffff;
    font-family: Lucida Console, Courier New, monospace;
}

a:link {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: #6c9eab;
}

a:active {
    color: #6c9eab;
}

ul {
    list-style-type: square;
}